/*============================================================================
	#BREADCRUMBS
==============================================================================*/
.breadcrumbs {

	padding: 0 0 32px 0;
	
	&__nav {

		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {

		display: inline-block;
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 1;
		font-weight: $light;
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

		.icon {

			margin-top: -4px;
			margin-right: 14px;
		}


		&--current {

			opacity: .5;
		}

		&:not(.breadcrumbs__item--current):hover {

			color: $colorSky;
		}
	}

	&__separator {
		
		margin: 0 14px 0 8px;
		font-weight: $light;
	}
}
