/*============================================================================
	#Cards Section
==============================================================================*/

.section-cards {

	margin-bottom: 56px;

	&__header {

		margin: 0 0 32px 0;

		&--morelink {

			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__title {

		margin: 0 0 8px 0;
		font-size: 38px;

		@media (max-width: 1480px){
			
			font-size: 36px;
		}

		@media (max-width: 1200px) {

			font-size: 32px;
			margin: 0;
		}

		@media (max-width: 767px) {

			font-size: 28px;
			margin: 0;
		}
	}

	&__description {

		margin: 8px 0 16px 0 ;
	}

	&__tags {

		margin: 24px 0 24px 0 ;
	}

	&__footer {

		display: flex;
		justify-content: center;
		align-items: center;
		margin: 40px 0 0 0;
	}
}

.section-cards--home {

	margin-bottom: 72px;

	@media (max-width: 1200px){
		
		margin-bottom: 48px;
	}

	.section-cards__header {

		margin-bottom: 48px;

		@media (max-width: 1200px){
			
			margin-bottom: 32px;
		}

		@media (max-width: 767px){
			
			margin-bottom: 24px;
		}
	}

	.section-cards__footer {

		margin-top: 48px;

		@media (max-width: 1200px){
			margin-top: 40px;
		}
	}
}

.section-cards--blog {

	.section-cards__header {

		margin-bottom: 16px;
	}
}
