/*============================================================================
	#Flexible Content
==============================================================================*/

.flexible-content {

	&__header {

		margin-bottom: 24px;
	}

	&__title {

		margin: 0 0 0 0;
		font-size: 36px;
	}
}

.flexible-block {

	margin: 24px 0;
}