/*============================================================================
	#FAQ
==============================================================================*/
.section-faq {

	border-radius: 5px;
	background: #161039;
	padding: 32px 32px 48px;
	order: 999;

	&__header {

		margin-bottom: 24px;
	}

	&__title {

		margin: 0;
	}
}