// Fonts 
/////////////////////////////////////////

// font-family
$fontPrimary	: 'Muller', sans-serif;
$fontSecondary  : 'Muller', sans-serif;
$fontHeadings   : 'Muller', sans-serif;

// fotn-weight
$thin      : 100;
$light     : 300;
$regular   : 400;
$medium    : 500;
$semiBold  : 600;
$bold      : 700;
$extraBold : 800;
$black     : 900;


// Colors
/////////////////////////////////////////

$colorBody : #070326;
$colorBase : #000000;

$colorFontPrimary : #000000;
$colorFontHeading : #000000;

$colorBlue  : #3246FF;
$colorSky   : #04A5FF;
$colorDark  : #070326;
$colorGreen : #00C337;
$colorRed   : #FF0000;




