/*============================================================================
	#Icons
==============================================================================*/

.i-star {

	width: 17px;
	height: 17px;
}

.i-star--sky,
.i-base--sky {

	fill: $colorSky;
}

.i-star--blue,
.i-base--blue {

	fill: $colorBlue;
}

.i-base {

	width: 20px;
	height: 20px;
}