<div class="site-widget site-widget--danger widget">
	<header class="site-widget__header">
		<h3 class="site-widget__title">Джекпоты</h3>
		<!-- <div class="site-widget__subtitle"></div> -->
	</header>
	<div class="site-widget__body">
		@@ for(var i = 0; i < 4; i++){
		<div class="jeckpot-banner">
			<div class="jeckpot-banner__inner">
				<div class="jeckpot-banner__image">
					<img src="images/demo/jackpot-1.jpg" alt="">
				</div>
				<div class="jeckpot-banner__content">
					<div class="jeckpot-banner__title">JACKPOT</div>
					<div class="jeckpot-banner__text">54 279 грн</div>
				</div>
			</div>

			<a href="#" class="button-primary button-primary--gradient">Забрать</a>
		</div>
		}
	</div>
</div>