<div class="site-widget widget">
	<header class="site-widget__header">
		<h3 class="site-widget__title">Игры месяца</h3>
		<!-- <div class="site-widget__subtitle"></div> -->
	</header>
	<div class="site-widget__body">
		@@for (var i = 0; i < 4; i++) {
		<div class="game-banner">
			<div class="game-banner__inner">
				<div class="game-banner__image">
					<img src="images/demo/game-1.jpg" alt="">
				</div>
				<div class="game-banner__content">
					<h4 class="game-banner__title">Wild Buffalo</h4>
					<div class="game-banner__subtitle">Netgame</div>
					<a href="#" class="button-primary button-primary--base">Играть</a>
					<a href="#" class="button-primary button-primary--base button-primary--dark">Демо</a>
				</div>
			</div>
		</div>
		}
	</div>
</div>