<div class="site-widget widget">
	<header class="site-widget__header">
		<h3 class="site-widget__title">ТОП казино</h3>
		<!-- <div class="site-widget__subtitle"></div> -->
	</header>
	<div class="site-widget__body">
		@@ for(var i = 0; i < 4; i++){
		<div class="casino-banner">
			<div class="casino-banner__inner">
				<div class="casino-banner__brand">
					<div class="casino-banner__image">
						<img src="images/demo/melbet.jpg" alt="" width="106">
					</div>
					<div class="casino-banner__raiting">
						<div class="stars-list">
							<svg class="icon i-star i-star--blue">
								<use xlink:href="symbol/sprite.svg#star"></use>
							</svg>
							<svg class="icon i-star i-star--blue">
								<use xlink:href="symbol/sprite.svg#star"></use>
							</svg>
							<svg class="icon i-star i-star--blue">
								<use xlink:href="symbol/sprite.svg#star"></use>
							</svg>
							<svg class="icon i-star i-star--blue">
								<use xlink:href="symbol/sprite.svg#star"></use>
							</svg>
							<svg class="icon i-star i-star--blue">
								<use xlink:href="symbol/sprite.svg#star"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="casino-banner__content">
					<svg class="icon i-base i-base--blue">
						<use xlink:href="symbol/sprite.svg#gift-box"></use>
					</svg>
					<span>24000 ₴ + <br> 225FS</span>
				</div>
				<div class="casino-banner__control">
					<a href="#" class="button-primary">Играть</a>
				</div>
			</div>
		</div>
		}
	</div>
</div>