<div class="site-widget widget">
	<header class="site-widget__header">
		<h3 class="site-widget__title">Предложение месяца</h3>
		<!-- <div class="site-widget__subtitle"></div> -->
	</header>
	<div class="site-widget__body">
		<div class="promo-banner" style="background-image: url('images/demo/banner-promo.jpg');">
			<div class="promo-banner__inner">
				<a href="#" class="button-primary button-primary--base">Забрать</a>
				<a href="#" class="button-primary button-primary--dark button-primary--base">Читать</a>
			</div>
		</div>
		
		<div class="promo-banner" style="background-image: url('images/demo/banner-promo.jpg');">
			<div class="promo-banner__inner">
				<a href="#" class="button-primary button-primary--base">Забрать</a>
				<a href="#" class="button-primary button-primary--dark button-primary--base">Читать</a>
			</div>
		</div>
		
		<div class="promo-banner" style="background-image: url('images/demo/banner-promo.jpg');">
			<div class="promo-banner__inner">
				<a href="#" class="button-primary button-primary--base">Забрать</a>
				<a href="#" class="button-primary button-primary--dark button-primary--base">Читать</a>
			</div>
		</div>

		<div class="promo-banner" style="background-image: url('images/demo/banner-promo.jpg');">
			<div class="promo-banner__inner">
				<a href="#" class="button-primary button-primary--base">Забрать</a>
				<a href="#" class="button-primary button-primary--dark button-primary--base">Читать</a>
			</div>
		</div>
	</div>
</div>