<div class="site-widget widget">
	<header class="site-widget__header site-widget__header--subtitle">
		<h3 class="site-widget__title">Лучшие казино с играми</h3>
		<div class="site-widget__subtitle">выбор по слотам и программному обеспечению</div>
	</header>
	<div class="site-widget__body">
		<div class="stiker-items">
			<div class="stiker-items__col">
				<div class="stiker stiker--large">
					<div class="stiker__image">
						<img src="images/demo/stiker-2.jpg" alt="">
					</div>
					<div class="stiker__title">Microgaming</div>
				</div>
			</div>
			<div class="stiker-items__col">
				<div class="stiker stiker--large">
					<div class="stiker__image">
						<img src="images/demo/stiker-2.jpg" alt="">
					</div>
					<div class="stiker__title">Microgaming</div>
				</div>
			</div>
			<div class="stiker-items__col">
				<div class="stiker stiker--large">
					<div class="stiker__image">
						<img src="images/demo/stiker-2.jpg" alt="">
					</div>
					<div class="stiker__title">Microgaming</div>
				</div>
			</div>
			<div class="stiker-items__col">
				<div class="stiker stiker--large">
					<div class="stiker__image">
						<img src="images/demo/stiker-2.jpg" alt="">
					</div>
					<div class="stiker__title">Microgaming</div>
				</div>
			</div>
			<div class="stiker-items__col">
				<div class="stiker stiker--large">
					<div class="stiker__image">
						<img src="images/demo/stiker-2.jpg" alt="">
					</div>
					<div class="stiker__title">Microgaming</div>
				</div>
			</div>
			<div class="stiker-items__col stiker-items__col--large">
				<a href="#" class="button-primary button-primary--pure button-primary--icon">
					Все игры казино 
					бесплатно
					<svg class="icon icon--right icon--large">
						<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>