.overflow {
	overflow: hidden;
}

.hidden {

  display: none;
}

.pixelated {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.link {
	color: $colorBody;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.order-last {

  order: 999;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}


