@@include('partials/header.html')

		<main class="main site__main e-page">
			<div class="e-page__wrapper">
				<div class="container e-page__container">
					<div class="e-page__body">
						<div class="e-page__logo">404</div>
						<div class="e-page__title">The requested page was not found.</div>
						<div class="e-page__content">
							<a href="/" class="button-primary">Home Page</a>
						</div>
						<div class="e-page__description">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur necessitatibus illum eos tenetur ad numquam dolor deserunt iusto esse doloremque!
						</div>
					</div>
					

					<div class="e-page__deco"></div>
				</div>
			</div>
		</main>

@@include('partials/footer.html')