
			
			</div><!-- site__body -->

		<footer class="footer hidden">
			<div class="container">
				<div class="footer__widgets footer-widgets">
					<div class="footer-widgets__row">
						<div class="footer-widgets__col footer-widgets__col-4">
							<div class="widget-footer widget-nav">
								<h3 class="widget-footer__title">Гид по азартным играм</h3>
								<ul class="widget-nav__list">
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#wheel-of-fortune"></use></svg>
											Как выбрать онлайн-казино
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#ace-of-spades"></use></svg>
											Как играть в азартные игры: процент выплат и дисперсия
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#diamond"></use></svg>
											Бонусы
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#sword"></use></svg>
											Кодекс честной игры
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#shake-hand"></use></svg>
											Ответственная игра и помощь при игровой зависимости
										</a> 
									</li>
								</ul>
							</div>
						</div>
						<div class="footer-widgets__col footer-widgets__col-3">
							<div class="widget-footer widget-nav">
								<h3 class="widget-footer__title">Гид по играм</h3>
								<ul class="widget-nav__list">
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#777"></use></svg>
											Игровые автоматы (слоты)
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#roulette"></use></svg>
											Рулетка
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#poker-cards"></use></svg>
											Блэкджек
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#play"></use></svg>
											Как играть в видеопокер
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#conversation"></use></svg>
											Баккара - правила, стратегии, руководство
										</a> 
									</li>
								</ul>
							</div>
						</div>
						<div class="footer-widgets__col footer-widgets__col-3">
							<div class="widget-footer widget-nav">
								<h3 class="widget-footer__title">Казино Гуру </h3>
								<ul class="widget-nav__list">
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#slot-machine"></use></svg>
											Онлайн-казино
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#dice"></use></svg>
											Игры
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#diamond"></use></svg>
											Бонусы
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#fencing"></use></svg>
											Жалобы
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#cherry"></use></svg>
											Форум
										</a> 
									</li>
								</ul>
							</div>
						</div>
						<div class="footer-widgets__col footer-widgets__col-2">
							<div class="widget-footer widget-nav">
								<h3 class="widget-footer__title">О нас</h3>
								<ul class="widget-nav__list">
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#domino"></use></svg>
											О нас
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#return-to-the-past"></use></svg>
											История
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#heart"></use></svg>
											Команда
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#contact"></use></svg>
											Контакты
										</a> 
									</li>
									<li>
										<a href="#">
											<svg><use xlink:href="symbol/sprite.svg#shake-hand"></use></svg>
											Условия пользования
										</a> 
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__banners footer-banners">

					<h3 class="footer-banners__title">Играйте ответственно и в меру</h3>

					<div class="footer-banners__item-list">
						<div class="footer-banners__item">
							<img class="lazy-image" data-src="images/footer-banner-1.jpg" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
						</div>
						<div class="footer-banners__item">
							<img class="lazy-image" data-src="images/footer-banner-2.jpg" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
						</div>
						<div class="footer-banners__item">
							<img class="lazy-image" data-src="images/footer-banner-3.png" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
						</div>
						<div class="footer-banners__item">
							<img class="lazy-image" data-src="images/footer-banner-4.png" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
						</div>
						<div class="footer-banners__item">
							<img class="lazy-image" data-src="images/footer-banner-5.jpg" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
						</div>
						<div class="footer-banners__item">
							<img class="lazy-image" data-src="images/footer-banner-6.png" alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
						</div>
					</div>
				</div>
				<div class="footer__info footer-info">
					<div class="footer-info__inner">
						<a href="/" class="logo footer-info__logo"><img src="images/logo.png" alt="Footer Logo" width="123"></a>
						<div class="footer-info__text">
							Slototop является независимым ресурсом об онлайн-казино и азартных играх, который не контролируется каким-либо оператором азартных игр или другим учреждением. Мы честно создаем наши обзоры и руководства, опираясь только на собственные знания и мнение наших независимых экспертов; однако все это создано лишь в информационных целях и не должно восприниматься как рекомендации. Прежде чем играть в том или ином казино, убедитесь, что вы действуете в соответствии с нормативными требованиями.
						</div>
					</div>
				</div>
				<div class="footer__bottom footer-bottom">
					<div class="footer-bottom__inner">
						<div class="footer-bottom__social">
							@@include('./../components/social-media.html')
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div><!-- site -->

	<!-- @@include('modals.html') -->

	<script src="js/jquery.min.js"></script>
	<script src="js/vendor.js"></script>
	<script src="js/index.js"></script>
	</body>

</html>