<div class="modals site__modals">

	<!-- Hero Video Modal -->

	<div id="modal-video" class="modal modal-video">
		<div class="modal__container">
			<div class="post-head__video video-player">
				<div class="video-player__thumb">
					<img src="images/demo/poster-1.jpg" alt="">
				</div>
				<video class="video-player__html-player" preload="metadata" src="intro.mp4" controls ></video>
				<button class="button button-play button-play--white" ></button>
			</div>
			<button class="button-close js-close-modal"></button>
		</div>
	</div>
	
	<div id="modal-advice" class="modal modal-alert">
		<div class="modal-alert__inner">
			<div class="modal-alert__title">
				Ask an expert
			</div>
			<div class="modal-alert__text">
				Short on time? Need some expert<br> advice? Click below to ask your expert a<br> question for only £4.99.
			</div>
			<a href="#" class="button-primary button-primary--dark">Start chat</a>
		</div>
		<button class="button modal__close js-close-modal"></button>
	</div>

	<div id="modal-message" class="modal modal-alert">
		<div class="modal-alert__inner">
			<div class="modal-alert__title">
				Need to ask a question <br> before booking?
			</div>
			<div class="modal-alert__text">
				Contact your expert here with <br> any general questions about <br> your booking for free
			</div>
			<a href="#" class="button-primary button-primary--dark">Start chat</a>
		</div>
		<button class="button modal__close js-close-modal"></button>
	</div>

	<div id="modal-chat" class="modal modal-alert">
		<div class="modal-alert__inner">
			<div class="modal-alert__title">
				Ask an expert
			</div>
			<div class="modal-alert__text">
				Short on time? Need some expert<br> advice? Click below to ask your expert a<br> question for only £4.99.
			</div>
			<button class="button-primary button-primary--dark">Start chat</button>
		</div>
		<button class="button modal__close js-close-modal"></button>
	</div>

</div>