<section class="section banner-slider">
	<div class="swiper-container js-banner-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="banner-slider__slide">
					<div class="banner-slider__image-bg" data-swiper-parallax="32%" style="background-image: url('images/demo/casino-5.jpg');"></div>
					<div class="banner-slider__content">
						<h2 class="banner-slider__title">КОРОЛЕВСКИЙ БЕЗДЕП</h2>
						<h3 class="banner-slider__sub-title">50 FreeSpins</h3>
						<p class="banner-slider__text">
							Fermentum viverra libero nulla neque sed quis diam purus sed. Amet accumsan eu lectus ut in amet ultrices nisi, sollicitudin.
						</p>
						<a href="#" class="button-primary button-primary--big button-primary--gradient">Кнопка</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner-slider__slide">
					<div class="banner-slider__image-bg" data-swiper-parallax="32%" style="background-image: url('images/demo/casino-2.jpg');"></div>
					<div class="banner-slider__content">
						<h2 class="banner-slider__title">КОРОЛЕВСКИЙ БЕЗДЕП</h2>
						<h3 class="banner-slider__sub-title">50 FreeSpins</h3>
						<p class="banner-slider__text">
							Fermentum viverra libero nulla neque sed<br> quis diam purus sed. Amet accumsan eu<br> lectus ut in amet ultrices nisi, sollicitudin.
						</p>
						<a href="#" class="button-primary button-primary--big button-primary--gradient">Кнопка</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner-slider__slide">
					<div class="banner-slider__image-bg" data-swiper-parallax="32%" style="background-image: url('images/demo/casino-3.jpg');"></div>
					<div class="banner-slider__content">
						<h2 class="banner-slider__title">КОРОЛЕВСКИЙ БЕЗДЕП</h2>
						<h3 class="banner-slider__sub-title">50 FreeSpins</h3>
						<p class="banner-slider__text">
							Fermentum viverra libero nulla neque sed<br> quis diam purus sed. Amet accumsan eu<br> lectus ut in amet ultrices nisi, sollicitudin.
						</p>
						<a href="#" class="button-primary button-primary--big button-primary--gradient">Кнопка</a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>