<nav class="breadcrumb">
	<div class="breadcrumb__list">
		<a class="breadcrumb__item" href="/">
			<svg class="icon icon-home">
				<use xlink:href="symbol/sprite.svg#icon-home"></use>
			</svg>
		</a>
		<span class="breadcrumb__separator">
			<svg class="icon icon-arrow">
				<use xlink:href="symbol/sprite.svg#icon-arrow"></use>
			</svg>
		</span>
		<a class="breadcrumb__item" href="#">Experts</a>
		<span class="breadcrumb__separator">
			<svg class="icon icon-arrow">
				<use xlink:href="symbol/sprite.svg#icon-arrow"></use>
			</svg>
		</span>
		<span class="breadcrumb__item breadcrumb__item--current">Jane Foster</span>
	</div>
</nav>