<div class="card js-casino-card">
	<div class="card__inner">
		<div class="card__col card__col--left">
		<div class="card__image">
			<img class="lazy-image" data-src="images/casino-logo.png" alt="" src="data:image/gif;base64,R0lGODlhoABOAIAAAP///wAAACH5BAEAAAEALAAAAACgAE4AAAKEjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaGlUAADs=">
		</div>
		<div class="card__title">Slotoking</div>
		<div class="card__rating rating">
			<div class="rating__inner">
				<div class="rating__title">Рейтинг Slototop</div>
				<div class="rating__body">
					<div class="rating__stars">
						<svg class="icon i-star i-star--sky">
							<use xlink:href="symbol/sprite.svg#star"></use>
						</svg>
					</div>
					<div class="rating__nubmer">100 / 100</div>
				</div>
			</div>
		</div>
		</div>
		<div class="card__col card__col--main">
			<div class="card__progress-bar progress-bar">
				<div class="progress-bar__header">
					<div class="progress-bar__title">Рейтинг посетителей</div>
					<div class="progress-bar__number">92.2%</div>
				</div>
				<div class="progress-bar__progress">
					<span class="progress-bar__current-progress" style="width: 92%"></span>
				</div>
			</div>
			<div class="card__currency props-slider slider-currency">
				<div class="props-slider__title">Казино принимает</div>

				<div class="props-slider__body">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<img src="icons/flags/Ukraine.svg" alt="">
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<img src="icons/flags/Poland.svg" alt="">
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<img src="icons/flags/rUssIa.svg" alt="">
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<img src="icons/flags/Ukraine.svg" alt="">
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<img src="icons/flags/Poland.svg" alt="">
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<img src="icons/flags/rUssIa.svg" alt="">
							</div>
						</div>

					</div>
					<div class="swiper-navigation">
						<button class="button-nav button-nav--small button-nav--prev hidden">
							<svg class="icon">
								<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
							</svg>
						</button>
						<button class="button-nav button-nav--small button-nav--next">
							<svg class="icon">
								<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="card__amount props-slider slider-items slider-deposit slider-items--amount">
				<div class="props-slider__title">Минимальный депозит</div>

				<div class="props-slider__body">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">50 UAH</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">10 USD</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">250 RUB</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">5 UAH</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">25 USD</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">150RUB</div>
							</div>
						</div>

					</div>
					<div class="swiper-navigation">
						<button class="button-nav button-nav--small button-nav--prev hidden">
							<svg class="icon">
								<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
							</svg>
						</button>
						<button class="button-nav button-nav--small button-nav--next">
							<svg class="icon">
								<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="card__games props-slider slider-items slider-games slider-items--games">
				<div class="props-slider__title">Плафтормы игр</div>

				<div class="props-slider__body">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">Igrosoft</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">IGT</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">NetEnt</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">Nevoromatic</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">Igrosoft</div>
							</div>
							<div class="swiper-slide" data-swiper-autoplay="1000">
								<div class="slider-items__item">NetEnt</div>
							</div>
						</div>

					</div>
					<div class="swiper-navigation">
						<button class="button-nav button-nav--small button-nav--prev hidden">
							<svg class="icon">
								<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
							</svg>
						</button>
						<button class="button-nav button-nav--small button-nav--next">
							<svg class="icon">
								<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="card__bonus card-bonus">
				<div class="card-bonus__main">
					<svg class="icon">
						<use xlink:href="symbol/sprite.svg#gift-box"></use>
					</svg>
					<div class="card-bonus__title">
						<div>Бонус</div> 
						<span>24000 ₴ + 225FS</span>
					</div>
					
					<button class="card-bonus__show-more button js-card-bonus">?</button>
					<div class="card-bonus__more-block js-card-more-block">
						<div class="card-bonus__item-list">
							<div class="card-bonus__item">За 1-й Депозит + 50 фриспинов на Starburst</div>
							<div class="card-bonus__item">Минимальный депозит: 400 ₴</div>
							<div class="card-bonus__item">Требования вейджера: 40x бонус</div>
							<div class="card-bonus__item">Депозит НЕ ЗАБЛОКИРОВАН</div>
							<div class="card-bonus__item">Максимальная ставка: 200 ₴</div>
							<div class="card-bonus__item">Максимальная сумма вывода: 10x бонуса</div>
							<div class="card-bonus__item">Только новые игроки</div>
							<div class="card-bonus__item">Количество бесплатных вращений может варьироваться в зависимости от внесенной суммы</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card__col card__col--right">
			<a class="button-primary button-primary--gradient button-primary--wide">Перейти в казино</a>
			<a class="button-primary button-primary--pure button-primary--wide">Обзор казино</a>

			<button class="button card__main-toggle">
				Подробнее
				<svg class="icon">
					<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
				</svg>
			</button>
		</div>
	</div>
</div>