				<div class="categorie-cards">
					<div class="categorie-cards__list">
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-conceive">
								<use xlink:href="symbol/sprite.svg#icon-conceive"></use>
							</svg>
							<span class="categorie-cards__item-title">Trying to Conceive</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-pregnacy">
								<use xlink:href="symbol/sprite.svg#icon-pregnacy"></use>
							</svg>
							<span class="categorie-cards__item-title">Pregnancy</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-family">
								<use xlink:href="symbol/sprite.svg#icon-family"></use>
							</svg>
							<span class="categorie-cards__item-title">Parenting</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-hands">
								<use xlink:href="symbol/sprite.svg#icon-hands"></use>
							</svg>
							<span class="categorie-cards__item-title">Life</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-apple">
								<use xlink:href="symbol/sprite.svg#icon-apple"></use>
							</svg>
							<span class="categorie-cards__item-title">Nutrition</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-life">
								<use xlink:href="symbol/sprite.svg#icon-life"></use>
							</svg>
							<span class="categorie-cards__item-title">Wellness</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-style">
								<use xlink:href="symbol/sprite.svg#icon-style"></use>
							</svg>
							<span class="categorie-cards__item-title">Style</span>
							<span class="categorie-cards__close"></span>
						</a>
						<a href="#" class="categorie-cards__item">
							<svg class="categorie-cards__item-icon icon-bloss">
								<use xlink:href="symbol/sprite.svg#icon-bloss"></use>
							</svg>
							<span class="categorie-cards__item-title">Bloss</span>
							<span class="categorie-cards__close"></span>
						</a>
					</div>
				</div>