				<div class="categorie-tabs">
					<div class="categorie-tabs__list">
						<a href="#" class="categorie-tabs__item categorie-tab">
							<span class="categorie-tab__icon">
								<svg class="icon icon-conceive">
									<use xlink:href="symbol/sprite.svg#icon-conceive"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Trying to Conceive</h4>
							<span class="categorie-tab__close"></span>
						</a>
						<a href="#" class="categorie-tabs__item categorie-tab is-selected">
							<span class="categorie-tab__icon">
								<svg class="icon icon-pregnacy">
									<use xlink:href="symbol/sprite.svg#icon-pregnacy"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Pregnancy</h4>
							<span class="categorie-tab__close"></span>
						</a>
						<a href="#" class="categorie-tabs__item categorie-tab">
							<span class="categorie-tab__icon">
								<svg class="icon icon-family">
									<use xlink:href="symbol/sprite.svg#icon-family"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Parenting</h4>
							<span class="categorie-tab__close"></span>
						</a>
						<a href="#" class="categorie-tabs__item categorie-tab">
							<span class="categorie-tab__icon">
								<svg class="icon icon-hands">
									<use xlink:href="symbol/sprite.svg#icon-hands"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Life</h4>
							<span class="categorie-tab__close"></span>
						</a>
						<a href="#" class="categorie-tabs__item categorie-tab">
							<span class="categorie-tab__icon">
								<svg class="icon icon-apple">
									<use xlink:href="symbol/sprite.svg#icon-apple"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Nutrition</h4>
							<span class="categorie-tab__close"></span>
						</a>						
						<a href="#" class="categorie-tabs__item categorie-tab">
							<span class="categorie-tab__icon">
								<svg class="icon icon-life">
									<use xlink:href="symbol/sprite.svg#icon-life"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Wellness</h4>
							<span class="categorie-tab__close"></span>
						</a>
						<a href="#" class="categorie-tabs__item categorie-tab">
							<span class="categorie-tab__icon">
								<svg class="icon icon-style">
									<use xlink:href="symbol/sprite.svg#icon-style"></use>
								</svg>
							</span>
							<h4 class="categorie-tab__title">Style</h4>
							<span class="categorie-tab__close"></span>
						</a>
					</div>
				</div>