<section class="section section-games">
	<header class="section__header">
		<h2 class="section__title">Игоровые автоматы</h2>
		
		<div class="page-tags">
			<div class="page-tags__inner">
				<a href="#" class="page-tags__link button-primary _current">All</a>
				<a href="#" class="page-tags__link button-primary button-primary--pure">New games</a>
				<a href="#" class="page-tags__link button-primary button-primary--pure">Slots</a>
				<a href="#" class="page-tags__link button-primary button-primary--pure">Table games</a>
				<a href="#" class="page-tags__link button-primary button-primary--pure">Uncoming games</a>
			</div>
		</div>
	</header>

	<div class="section__body games-list">
		<div class="main-grid">
			<div class="main-grid__col">
				<div class="game-card">
					<div class="game-card__inner">
						<img class="game-card__image" src="images/demo/game-1.jpg" alt="">
						<h3 class="game-card__title">Игровой автомат <br> Disco Fruits</h3>
						<a href="#" class="button-primary button-primary--large button-primary--gradient">Играть</a>
					</div>
				</div>
			</div>
			<div class="main-grid__col">
				<div class="game-card">
					<div class="game-card__inner">
						<img class="game-card__image" src="images/demo/game-2.jpg" alt="">
						<h3 class="game-card__title">Игровой автомат <br> Just Jewels Deluxe</h3>
						<a href="#" class="button-primary button-primary--large button-primary--gradient">Играть</a>
					</div>
				</div>
			</div>
			<div class="main-grid__col">
				<div class="game-card">
					<div class="game-card__inner">
						<img class="game-card__image" src="images/demo/game-3.jpg" alt="">
						<h3 class="game-card__title">Игровой автомат <br> Sizzling Hot Deluxe</h3>
						<a href="#" class="button-primary button-primary--large button-primary--gradient">Играть</a>
					</div>
				</div>
			</div>
			<div class="main-grid__col">
				<div class="game-card">
					<div class="game-card__inner">
						<img class="game-card__image" src="images/demo/game-1.jpg" alt="">
						<h3 class="game-card__title">Игровой автомат <br> Disco Fruits</h3>
						<a href="#" class="button-primary button-primary--large button-primary--gradient">Играть</a>
					</div>
				</div>
			</div>
			<div class="main-grid__col">
				<div class="game-card">
					<div class="game-card__inner">
						<img class="game-card__image" src="images/demo/game-2.jpg" alt="">
						<h3 class="game-card__title">Игровой автомат <br> Just Jewels Deluxe</h3>
						<a href="#" class="button-primary button-primary--large button-primary--gradient">Играть</a>
					</div>
				</div>
			</div>
			<div class="main-grid__col">
				<div class="game-card">
					<div class="game-card__inner">
						<img class="game-card__image" src="images/demo/game-3.jpg" alt="">
						<h3 class="game-card__title">Игровой автомат <br> Sizzling Hot Deluxe</h3>
						<a href="#" class="button-primary button-primary--large button-primary--gradient">Играть</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section__footer">
		<a href="#" class="button-primary button-primary--pure button-primary--icon">
			Больше игр
			<svg class="icon icon--right">
				<use xlink:href="symbol/sprite.svg#arrow-angel-next"></use>
			</svg>
		</a>
	</div>

</section>
