<div class="socialmedia">
	<div class="socialmedia__inner">
		<a href="#" class="socialmedia__button social-button">
			<svg class="social-button__icon">
				<use xlink:href="symbol/sprite.svg#telegram"></use>
			</svg>
		</a>
		<a href="#" class="socialmedia__button social-button">
			<svg class="social-button__icon">
				<use xlink:href="symbol/sprite.svg#youtube"></use>
			</svg>
		</a>
		<a href="#" class="socialmedia__button social-button">
			<svg class="social-button__icon">
				<use xlink:href="symbol/sprite.svg#twitter"></use>
			</svg>
		</a>
		<a href="#" class="socialmedia__button social-button">
			<svg class="social-button__icon">
				<use xlink:href="symbol/sprite.svg#instagram"></use>
			</svg>
		</a>
		<a href="#" class="socialmedia__button social-button">
			<svg class="social-button__icon">
				<use xlink:href="symbol/sprite.svg#pinterest"></use>
			</svg>
		</a>
		<a href="#" class="socialmedia__button social-button">
			<svg class="social-button__icon">
				<use xlink:href="symbol/sprite.svg#facebook"></use>
			</svg>
		</a>
	</div>
</div>