								<div class="social @@class">
									<a class="social__item" href="#">
										<svg class="icon _facebook">
											<use xlink:href="symbol/sprite.svg#icon-facebook"></use>
										</svg>
									</a>
									<a class="social__item" href="#">
										<svg class="icon _instagram">
											<use xlink:href="symbol/sprite.svg#icon-instagram"></use>
										</svg>
									</a>
									<a class="social__item" href="#">
										<svg class="icon _twitter">
											<use xlink:href="symbol/sprite.svg#icon-twitter"></use>
										</svg>
									</a>
									<a class="social__item" href="#">
										<svg class="icon _linkedin">
											<use xlink:href="symbol/sprite.svg#icon-linkedin"></use>
										</svg>
									</a>
									<a class="social__item" href="#">
										<svg class="icon _youtube">
											<use xlink:href="symbol/sprite.svg#icon-youtube"></use>
										</svg>
									</a>
								</div>