<div class="star-rating @@class">
	<div class="star-rating__row _fill" style="width: 85%">
		<svg class="icon-star _fill">
			<use xlink:href="symbol/sprite.svg#icon-star-fill"></use>
		</svg>
		<svg class="icon-star _fill">
			<use xlink:href="symbol/sprite.svg#icon-star-fill"></use>
		</svg>
		<svg class="icon-star _fill">
			<use xlink:href="symbol/sprite.svg#icon-star-fill"></use>
		</svg>
		<svg class="icon-star _fill">
			<use xlink:href="symbol/sprite.svg#icon-star-fill"></use>
		</svg>
		<svg class="icon-star _fill">
			<use xlink:href="symbol/sprite.svg#icon-star-fill"></use>
		</svg>
	</div>
	<div class="star-rating__row _clear">
		<svg class="icon-star _clear">
			<use xlink:href="symbol/sprite.svg#icon-star-clear"></use>
		</svg>
		<svg class="icon-star _clear">
			<use xlink:href="symbol/sprite.svg#icon-star-clear"></use>
		</svg>
		<svg class="icon-star _clear">
			<use xlink:href="symbol/sprite.svg#icon-star-clear"></use>
		</svg>
		<svg class="icon-star _clear">
			<use xlink:href="symbol/sprite.svg#icon-star-clear"></use>
		</svg>
		<svg class="icon-star _clear">
			<use xlink:href="symbol/sprite.svg#icon-star-clear"></use>
		</svg>
	</div>
</div>