/*============================================================================
	#404 Page
==============================================================================*/
.e-page {

	padding: 120px 0;

	.container {

		position: relative;
	}

	&__body {

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
	}

	&__logo {

		font-size: 170px;
		line-height: 1;
		font-family: $fontPrimary;
		font-weight: $medium;
		color: $colorBase;
	}

	&__deco {

		width: 718px;
		height: 718px;
		border: 72px solid #264066;
		opacity: .05;
		border-radius: 100%;
		z-index: -1;
		position: absolute;
		top: 100px;
		right: -160px;

		@media (max-width: 1024px) {

			display: none;
		}
	}

	&__title {

		color: $colorBase;
		margin-bottom: 32px;
	}

	&__content {

		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 24px;
	}

	&__description {

		text-align: center;
		max-width: 480px;
		margin: 0 auto;
		font-size: 18px;
	}
}

@include _1024 {

	.e-page {

		padding: 100px 0;

		&__logo {

			font-size: 110px;
		}

		&__title {

			font-size: 38px;
		}
	}
}

@include _485 {

	.e-page {

		padding: 80px 0;

		&__logo {

			font-size: 100px;
			margin-bottom: 16px;
		}

		&__title {

			font-size: 32px;
		}

		&__description {

			font-size: 16px;
		}
	}
}