/*============================================================================
	#Game Archive
==============================================================================*/

.section-games {

	.page-tags {

		padding: 24px 0 8px;
	}

	.section__footer {

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.games-list {

		margin-bottom: 54px;
	}
}